*{
  align-items: center;
  font-family: "Optima", sans-serif;
}
.App {
  text-align: center;
}
.header{
background-color: black;
color: white;
padding: 0.5%;
}
.header img{
  height: 40px;
  padding: 0 1%;
}
.header input{
  margin-left: 55%;
  width: 25%;
  border: none;
  box-shadow: 0 1px 2px rgb(206, 201, 201);
  color: rgb(80, 79, 79);
  font-size: medium;
  font-weight: 400;
  padding: 0.5%;
  border-radius: 2%;
}
.header span{
  /*margin-left: 3%;*/
  font-size: large;
  font-weight: bolder;
}
form {
  margin: 3% 25%;
  padding: 2% 3%;
  box-shadow: 0 2px 5px grey;
  width: 40%;
}
form p {
  text-align: center;
}
form input[type= text]{
  width: 100%;
  border: none;
  box-shadow: 0 1px 1px rgb(202, 198, 198);
  padding: 1%;
  color: rgb(80, 79, 79);
  font-size: small;
  font-weight: 400;
  border-radius: 2%;
}
form input[type= submit]{
  border: none;
  border-radius: 2%;
  width: 50%;
  box-shadow: 0 1px 1px rgb(202, 198, 198);
  background-color: black;
  color: white;
  padding: 1%;
}